.contact-section {
  padding: 3rem 5rem;
}
.title-box,
.title-heading {
  font-size: 30px;
}

.contact-summary-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bg-contact-img-container {
  margin-left: 116px;
}

.contact-input-section {
  display: flex;
  /* background-color: red; */
  padding-top: 3rem ;
}

.my-3 {
  margin-top: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.custom-form,
.contact-lable {
  position: absolute;
  left: 27px;
  top: 7px;
  line-height: 20px;
  font-weight: 500;
  color: #828f99;
  background: #fbfdfe;
  margin: 0;
  padding: 0 7px;
  z-index: 1;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.custom-form,
.form-control {
  height: 44px;
  font-size: 15px;
  padding-left: 15px;
  border-color: #e6eef6;
  color: #828f99;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.margin-left{
  margin-left: 1rem;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  .contact-input-section {
    flex-direction: column;
  }
}